<nav>
    <p>Product
        <p>Core features</p>
        <p>Drones</p>
        <p>Editor</p>
        <p>Analytics</p>
        <p>???</p>
    </p>
    <p>Resources</p>
        <p>About</p>
        <p>Careers</p>
        <p>Docs</p>
    </p>
    <p>Pricing</p>
    <p>Customers</p>
    <p>Blog</p>
    <p>Contact</p>
    <p>Gap</p>
    <p>Docs</p>
    <p>Open App</p>
</nav>

<main>
    <section class="hero-section">
        <h1>6x Labs is a purpose-built platform for planning and building reforestation projects</h1>
        <p>Empower your reforestation projects with our all-in-one platform designed to streamline planning, execution, and monitoring. From site selection to growth tracking, we provide the tools you need to make a lasting impact on the environment.</p>
        <a href="#" class="cta-button">Start reforesting</a>
        <a href="">Get in touch</a>
        <img src="" alt="Main hero image of editor interface with map and tools">
    </section>

    <section>
        Section about generating reports as a PDF straight from the project versions, compare and select the winning solution using nature.
    </section>

    <section>
        Section about carbon credits and tracking with breakdown of features
    </section>
</main>