{% extends 'base_blank.html' %}
{% load static %}

{% block meta_title %}Project Planner{% endblock %}
{% block page_title %}Project Planner{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'planting/css/editor-ui-scale.css' %}">
<link rel="stylesheet" href="{% static 'planting/css/editor.css' %}">
<link rel="stylesheet" href="{% static 'planting/css/toolbars.css' %}">
{# Golden Layout v2 #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/golden-layout@2.6.0/dist/css/goldenlayout-base.css">
<link rel="stylesheet" href="{% static 'planting/css/goldenlayout-theme.css' %}">
{% endblock %}

{% block content %}
<div class="editor-container">
  {# Main Toolbar - TOP (File, Edit, Window, Help menus) #}
  {% include 'planting/components/editor_menu.html' %}

  {# Main Settings Toolbar - TOP (Save, Site Selection, Add Components) #}
  {% include 'planting/components/main_toolbar.html' %}

  <div class="editor-workspace">
    {# Main Toolbar - LEFT (Photoshop-style tools) #}
    {% include 'planting/components/components_toolbar.html' %}

    {# Golden Layout Container #}
    <div id="workspace-panels" class="editor-panels"></div>

    {# Hidden Panel Content Templates - Golden Layout moves these into its containers #}
    <div id="panel-templates" style="display: none;">
      {# Outliner Panel Content #}
      <div id="template-outliner" data-panel-id="outliner" data-panel-title="Outliner" data-panel-icon="bi-list-nested">
        {% include 'planting/components/outliner.html' with sites=sites project=project %}
      </div>

      {# Viewport Panel Content #}
      <div id="template-viewport" data-panel-id="viewport" data-panel-title="Viewport" data-panel-icon="bi-display">
        {% include 'planting/components/viewport_toolbar.html' %}
        {% include 'planting/interactive_map.html' %}
      </div>

      {# Details Panel Content #}
      <div id="template-details" data-panel-id="details" data-panel-title="Details" data-panel-icon="bi-sliders">
        {% include 'planting/components/details.html' with project=project %}
      </div>

      {# Point Plotter Panel Content #}
      <div id="template-point-plotter" data-panel-id="point-plotter" data-panel-title="Point Plotter" data-panel-icon="bi-geo-alt">
        {% include 'planting/components/point_plotter.html' with project=project %}
      </div>

      {# Species Mixer Panel Content #}
      <div id="template-species-mixer" data-panel-id="species-mixer" data-panel-title="Species Mixer" data-panel-icon="bi-shuffle">
        {% include 'planting/components/species_mixer.html' with project=project %}
      </div>
    </div>

    {# Panel Toggle Toolbar - RIGHT (quick access to panels) #}
    {% include 'planting/components/panel_toolbar.html' %}
  </div>
</div>

{# Pass Django context to JavaScript #}
<script>
  window.editorContext = {
    projectSlug: '{{ project.slug|default:"" }}',
    projectName: '{{ project.name|default:"" }}',
    csrfToken: '{{ csrf_token }}',
    user: {
      isAuthenticated: {{ user.is_authenticated|yesno:"true,false" }},
      isStaff: {{ user.is_staff|yesno:"true,false" }},
      isSuperuser: {{ user.is_superuser|yesno:"true,false" }}
    }
  };
</script>
<script src="{% static 'js/core/field-generator.js' %}" defer></script>
<script src="{% static 'js/core/reset-button-handler.js' %}" defer></script>
<script src="{% static 'planting/js/toolbar-overflow.js' %}" defer></script>
{# Golden Layout v2 #}
<script type="module" src="{% static 'planting/js/layout.js' %}"></script>
<script src="{% static 'planting/js/editor-actions.js' %}" defer></script>
<script src="{% static 'planting/js/menu-renderer.js' %}" defer></script>
{% endblock %}
