{% load static %}

{% comment %}
Generic Modal Component

Usage:
  {% include 'components/modals/modal.html' with
    modal_id='deleteModal123'
    modal_icon='bi bi-trash'
    modal_title='Delete Project'
    modal_body_content='<p>Are you sure?</p>'
    modal_footer_content='<button>Delete</button>'
    modal_size='lg'
  %}

Parameters:
  - modal_id: Unique ID for this modal instance (required)
  - modal_icon: Bootstrap icon class for the header (optional)
  - modal_title: Title text for header (optional)
  - modal_body_content: HTML content for modal body (required)
  - modal_footer_content: HTML content for modal footer (optional)
  - modal_size: Modal width size class (optional, default is 500px)
  - modal_centered: Center the modal vertically (optional, default is true, false is top aligned) 

Modal Sizes:
  Size        | Class        | Max-width
  Small       | modal_size='sm'  | 300px
  Default     | (omit param)     | 500px
  Large       | modal_size='lg'  | 800px
  Extra large | modal_size='xl'  | 1140px
{% endcomment %}

<link rel="stylesheet" href="{% static 'css/components/modal.css' %}">

<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog{% if modal_centered != false %} modal-dialog-centered{% endif %}{% if modal_size %} modal-{{ modal_size }}{% endif %}">
    <div class="modal-content p-4 bordered rounded-3 bg-body-tertiary">
      
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>

      {% if modal_icon or modal_title %}
      <div class="d-flex align-items-center mb-2">
        {% if modal_icon %}
        {# Icon size defined by fs-4 class #}
          <i class="{{ modal_icon }} fs-4 me-2" aria-hidden="true"></i>
        {% endif %}
        {% if modal_title %}
          <h5 class="mb-0" id="{{ modal_id }}Label">{{ modal_title|safe }}</h5>
        {% endif %}
      </div>
      {% endif %}

      <div class="modal-body mb-2">
        {{ modal_body_content|safe }}
      </div>

      {% if modal_footer_content %}
      <div class="modal-footer">
        {{ modal_footer_content|safe }}
      </div>
      {% endif %}

    </div>
  </div>
</div>
