{% load static %}


<link rel="stylesheet" href="{% static 'css/components/navigation/sidebar.css' %}" />

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="sidebar"
  data-bs-scroll="true"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <a class="navbar-brand m-0 p-0 d-flex align-items-center" href="{% url 'core:dashboard' %}">
      {% include 'components/dynamic_icons/6x_Labs_Circle_Green_Small.svg' %}
    </a>
    <button
      class="btn btn-link p-0 border-0 d-flex align-items-center"
      data-bs-dismiss="offcanvas"
      aria-label="Close sidebar"
    >
      <i class="bi bi-layout-sidebar" style="font-size: 20px"></i>
    </button>
    <div class="sidebar-resizer" data-sidebar-resizer aria-hidden="true"></div>
  </div>
  <div class="offcanvas-body">
    <!-- Navigation rendered server-side by Django -->
    <ul class="list-unstyled sidebar-nav">
      {% for nav_item in navigation_items %}
        {% include 'components/navigation/sidebar_item.html' with nav_item=nav_item %}
      {% empty %}
        <li class="sidebar-item">
          <span class="sidebar-link text-muted">No navigation available</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<script src="{% static 'js/components/navigation/sidebar.js' %}"></script>


{% include 'account/teamspace_modal.html' with modal_id='teamspaceModal' %}

{% if user.subscription_tier != 'Enterprise' %}

  {% include 'components/modals/modal.html' with
    modal_id='comingSoonModal'
    modal_icon='bi bi-stars'
    modal_title='Please upgrade'
    modal_body_content='<p>To access this page please upgrade to Enterprise.</p>'
    modal_footer_content='<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Upgrade</button>'
    modal_size='md'
  %}

{% endif %}