{% load static %}


<link rel="stylesheet" href="{% static 'css/navigation/sidebar.css' %}" />

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="sidebar"
  data-bs-scroll="true"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <a class="navbar-brand m-0 p-0 d-flex align-items-center" href="index.html">
      <!-- SVG Logo -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2048 2048"
        width="20"
        height="20"
        aria-label="6X Labs"
        style="display: block"
      >
        <path
          fill="currentColor"
          d="M1037 0C661-5 307 198 123 537 61 651 21 778 6 906c-13 112-3 214 0 237 22 189 98 372 218 521 51 64 115 126 179 175 164 124 359 196 565 208 10 1 33 1 51 1 304 2 596-134 790-367 141-169 222-373 237-595 2-25 2-99 0-124-7-93-24-179-52-264C1876 342 1569 79 1199 15 1145 6 1091 1 1037 0zM431 797c125 0 227 102 227 227 0 125-102 227-227 227-125 0-227-102-227-227 0-125 102-227 227-227zm593 0c125 0 227 102 227 227 0 125-102 227-227 227-125 0-227-102-227-227 0-125 102-227 227-227zm593 0c125 0 227 102 227 227 0 125-102 227-227 227-125 0-227-102-227-227 0-125 102-227 227-227z"
        />
      </svg>
    </a>
    <button
      class="btn btn-link p-0 border-0 d-flex align-items-center"
      data-bs-dismiss="offcanvas"
      aria-label="Close sidebar"
    >
      <i class="bi bi-layout-sidebar" style="font-size: 20px"></i>
    </button>
    <div class="sidebar-resizer" data-sidebar-resizer aria-hidden="true"></div>
  </div>
  <div class="offcanvas-body">
    <!-- Navigation will be dynamically rendered by sidebar.js -->
    <ul class="list-unstyled sidebar-nav"></ul>
  </div>
</div>
<script src="{% static 'js/navigation/sidebar.js' %}"></script>
