{% comment %}
Generic Modal Component

Usage:
  {% include 'components/modal.html' with
    modal_id='deleteModal123'
    modal_title='Delete Project'
    modal_body_content='<p>Are you sure?</p>'
    modal_footer_content='<button>Delete</button>'
  %}

Parameters:
  - modal_id: Unique ID for this modal instance (required)
  - modal_title: Title text for modal header (required)
  - modal_body_content: HTML content for modal body (required)
  - modal_footer_content: HTML content for modal footer (optional)
  - modal_size: Size class - 'modal-sm', 'modal-lg', 'modal-xl' (optional)
{% endcomment %}

<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered {{ modal_size|default:'' }}">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">{{ modal_title|safe }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        {{ modal_body_content|safe }}
      </div>

      {% if modal_footer_content %}
      <div class="modal-footer">
        {{ modal_footer_content|safe }}
      </div>
      {% endif %}

    </div>
  </div>
</div>
