{% load string_extras %}


<table id="{{ table_id }}" class="table sortable-table">
    <thead>
        <tr>
            {% for header in table_headers|split:"," %}
                <th onclick="sortTable('{{ table_id }}', {{ forloop.counter0 }})">
                    {{ header|strip }}
                </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% if table_rows %}
            {% for row in table_rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>